article {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.product-overview , .product-sales {
    background: #fff;
} 
.product-overview {
    flex-basis: 20%;
    text-align: center;
    padding:20px 0;
}

.product-sales {
    flex-basis: 75%;
}

nav {
    width: 100%;
    height: 60px;
    background: navy;
    padding: 20px;
}
.product-overview img{
    height: 100px;
}

.product-overview h6{
    font-size: 16px;
}
.product-overview p{
    color: #666;
    font-size: 14px;
    padding: 15px;
}

.product-overview ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    font-size: 10px;
    border: 1px solid #eee;
    padding: 10px;
}

.product-overview li{
    margin: 5px;
    padding: 5px;
    border: 1px solid #eee;
}

.product-sales table td{
    padding: 10px;
}

.product-sales table {
    width: 100%;
    text-align: left;
    padding: 20px;
}